
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="app">
    <table class="table">
        <tr>
            <th>
                名稱
            </th>
            <th>
                年分
            </th>
            <th>
                作曲家
            </th>
            <th></th>
        </tr>

        <tr v-for="opera in operas">
            <input type="hidden" value="{{ opera.Id }}" />
            <td>{{ opera.Title }}</td>
            <td>{{ opera.Year }}</td>
            <td>{{ opera.Composer }}</td>
            <td>
                <a href="{{ opera.Id }}">Edit</a> |
                <a href="/Home/Delete/{{ Id }}" >Delete</a>
            </td>
        </tr>
    </table>
</div>

<script src="~/Scripts/app/components/opera.js"></script>


