
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Video</h2>

<div>
    <span>
        ViewBag : @ViewBag.companyName
    </span>
    <br/>
    <span>
        TempData : @TempData["companyName"]
    </span>
</div>


<!-- Use HTML -->
<video width="320" height="240" controls>
    <source src="~/Upload/movie.mp4" type="video/mp4">
</video>
